<div class="container">
  <div class="row">
    </div><div class="col-xs-12 col-md-offset-2 col-sm-8 padded">
      <div class="simple_form_for">
        <%= simple_form_for [:deltadmin, @product] do |f| %>
          <%= f.input :name %>
          <%= f.input :description, as: :text, input_html: {class: "edit-froala"} %>
          <%= f.association :sub_category %>
          <%= f.association :supplier %>
          <%= f.input :delta_ref %>
          <%= f.input :supplier_ref %>
          <%= f.input :product_number %>
          <%= f.input :buy_price %>
          <%= f.input :sell_price %>
          <%= f.input :active %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.submit "Sauvegarder", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
