<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Produits</h1>
      <div id="deltadmin-table-action">
        <p><%= @products.count %> produits</p>
        <%= link_to 'Créer une catégorie', new_deltadmin_product_path, class: 'btn btn-primary' %>
      </div>
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Nom</th>
          <th>Sous-catégorie</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.name, deltadmin_product_path(product) %></td>
            <td><%= product.sub_category.name %></td>
            <td>
              <%= link_to edit_deltadmin_product_path(product) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
            </td>
            <td>
              <%= link_to deltadmin_product_path(product), method: :delete, data: { confirm: "Etes-vous sûr ?" } do %>
                <i class="fa fa-trash " aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
