<div class="container">
      <div id="deltadmin-table-action">
        <h1>Produits</h1>
        <%= link_to 'Créer un produit', new_deltadmin_product_path, class: "btn btn-primary" %>
      </div>

   <div class="well">
     <%= form_for_filterrific @filterrific do |f| %>
      <div>
        Rechercher
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
      <div>
      Sous-catégorie
      <%= f.select(
        :sub_category,
        @filterrific.select_options[:sub_category],
        { include_blank: '- Any -' }
      ) %>
    </div>
      <div>
        <%= link_to(
          'Réinitialiser les filtres',
          reset_filterrific_url,
        ) %>
      </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%= render_filterrific_spinner %>
    <% end %>
   </div>

  <%= render(
    partial: 'deltadmin/products/list',
    locals: { products: @products }
  ) %>
</div>


