<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Catégories</h1>
      <div id="deltadmin-table-action">
      <p><%= @categories.count %> catégories</p>
      <%= link_to 'Créer une catégorie', new_deltadmin_category_path %>
      </div>
      <table class="table">
        <thead>
          <th>ID</th>
          <th>Nom</th>
          <th>Editer</th>
          <th>Supprimer</th>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td>
              <%= link_to edit_deltadmin_category_path(category) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
            </td>
            <td>
              <%= link_to deltadmin_category_path(category), :methode => 'delete', data: { confirm: "Etes-vous sûr ?" } do %>
                <i class="fa fa-trash " aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
