<div class="wrapper">
  <div class="admin-navbar">
    <p><%= link_to "Dashboard", deltadmin_path, class: "link-name" %></p>
    <p>|</p>
    <p><%= link_to "Catégorie", deltadmin_categories_path, class: "link-name" %></p>
    <p>|</p>
    <p><%= link_to "Sous-catégorie", deltadmin_sub_categories_path, class: "link-name" %></p>
    <p>|</p>
    <p><%= link_to "Produits", deltadmin_categories_path, class: "link-name" %></p>
    <p>|</p>
    <p><%= link_to "Utilisateurs", deltadmin_users_path, class: "link-name" %></p>
  </div>
</div>
