<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @sub_category.name %></h1>
      <p><%= @products.count %> produits sont disponibles au sein de <%= @sub_category.name %>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @products.each do |product| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-color: #333333;">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= product.name %></h2>
            </div>
            <%= link_to '', product_path(product), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
